/* wrapper */
.wrapper-content {
    height: 100%;
    min-height: 50vh;
}

/* form */
form {
    width: 100%;
    max-width: 500px;
}

form input[type="submit"] {
    color: white;
    background-color: var(--orange);
    border: none;
    width: 125px;
    height: 30px;
    transition: 0.5s ease;
}

form input[type="submit"]:hover {
    opacity: 0.8;
}

.control-label:after {
    content:"*";
    color: var(--red);
}

.error {
    margin-left: 15px;
}

/* responsivity */
@media (max-width: 768px) {
    .banner, .wrapper {
        padding: 50px 10px;
    }
}

@media (min-width: 768px) {
    .banner, .wrapper {
        padding: 50px 20px;
    }

    .wrapper-content {
        flex: 1 1 calc(100% - 250px);
        padding: 0 50px;
    }
}

@media (min-width: 1024px) {
    .banner, .wrapper {
        padding: 50px;
    }
}