 /* offer banner */
.banner {
    background-color: #3C486B;
    height: fit-content;
    min-height: 300px;
    color: white;
}

.banner-item {
    border-radius: 5px;
    background-color: var(--orange);
    padding: 3px 10px;
    margin: 5px;
}

.banner-item i {
    margin-right: 5px;
}

/* buttons banner */

.buttonWrapper {
    background-color: var(--dark-yellow);
    height: 50px;
}

.buttonWrapper button {
    border: none;
    padding: 10px 20px;
    background-color: var(--dark-yellow);
    color: #232c3d;
    font-size: 1.2rem;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.buttonWrapper button:hover {
    background-color: white;
}

.buttonWrapper button.active {
    background-color: white;
}

/* content */
.wrapper {
    row-gap: 30px;
}

/* offer content */
.offer-info {
    height: 100%;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--light-grey)
}

/* attachements */
.attachements>* {
    margin-top: 15px;
}

.form-group label {
    display: block;
}

.attachements button {
    color: white;
    background-color: var(--orange);
    border: none;
    width: 125px;
    height: 30px;
    transition: 0.5s ease;
}

.attachements button:hover {
    opacity: 0.8;
}

.attachements-table,
.attachements-table tr,
.attachements-table th {
    border-color: var(--dark-grey) !important;
}

/* responsivity */
@media (max-width: 768px) {
    .banner, .wrapper {
        padding: 50px 10px;
    }
}

@media (min-width: 768px) {
    .banner, .wrapper {
        padding: 50px 20px;
    }

    .offer-info {
        max-width: 250px;
    }

    .wrapper-content {
        flex: 1 1 calc(100% - 250px);
        padding: 0 50px;
    }
}

@media (min-width: 1024px) {
    .banner, .wrapper {
        padding: 50px;
    }
}