#job-offer-form {
    background-color: white;
    border-radius: 5px;
}

#job-offer-form h2 {
    background-color: var(--orange);
    color: white;
    font-size: 1.5rem;
    padding: 15px;
}

#job-offer-form .form-section {
    padding: 25px;
}

#job-offer-form .form-group {
    max-width: 1100px;
}

#job-offer-form .form-small {
    max-width: 450px;
}

#job-offer-form label {
    font-weight: bold;
}

#job-offer-form .control-label:after {
    content:"*";
    font-weight: normal;
    color: var(--red);
}

#job-offer-form #form-submit {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    height: 40px;
    width: 150px;
}

#job-offer-form #form-submit:hover {
    opacity: 0.9;
}

/* error */
.error {
    color: var(--red);
    margin-left: 25px;
  }